body {
    margin: auto;
    text-align: center;
    background-color: darkslategray;
    font-size: 25px;
}

.pokemon-one, .pokemon-two {
    display: inline-block;
    width: 49%;
    text-align: center;
    min-height: 500px;
    color: darkorange;
    background-repeat: no-repeat;
    
}



#pokemon-image {
    height: 500px;
}