body {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: darkslategray;
}

.form-one {
    width: 100%;
    margin: auto;
    text-align: center;
}

#pokemon-image {
    height: 500px;
}